<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
    <section class="banner ">
        <div class="content text-center">
            <h1 class="font-weight-bolder">CONTACT MANAGER</h1>
            <p>
                Its the smart way to collect your contacts
            </p>

            <a class="btn btn-outline-warning"  th:href="@{/login}">Get Started</a>
        </div>

    </section>
</body>
</html>